@model IEnumerable<SIMAAPI.Models.ViewModel.SimaFAQ>
@{
    ViewBag.Title = "FAQ";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
            <h4 class="text-info mt-4 mb-5">
                Sualınız var?
            </h4>
            @foreach(var item in Model)
            {
                <div  data-target="#@string.Concat(item.ISARCHIVED,(int)item.ID) " data-toggle="collapse" role="button">
                    @item.QUESTION
                    <hr />
                </div>
                <div id=@string.Concat(item.ISARCHIVED,(int)item.ID) class="collapse in mb-3" role="button" >
                    @item.ANSWER
                </div>
            }
        </div>
    </div>
</div>
